# Crie um conta em https://api.fogocruzado.org.br/sign-up
# Atualize com suas credenciais aqui
FOGO_CRUZADO_EMAIL=
FOGO_CRUZADO_PASSWORD=

# MongoDB replica set local usado pelos scripts.
MONGO_URI=mongodb://host.docker.internal:27017,host.docker.internal:27018,host.docker.internal:27019/bd2?replicaSet=rs0
